<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pizza Login Card</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
 <link rel="stylesheet" href="css/style.css">
</head>
<body>

<div class="card">
  <div class="front">
    <div class="img">
      <div class="circle"></div>
      <div class="circle" id="right"></div>
      <div class="circle" id="bottom"></div>
    </div>
    <small class="badge">Pizza App</small>
    <div class="title">
      <p><strong>Welcome Back!</strong></p>
    </div>
    <p class="card-footer">Sign in to order your favorite pizza 🍕</p>
  </div>
  <div class="login">
    <h2>Login</h2>
    <form>
      <input type="text" placeholder="Username" required>
      <input type="password" placeholder="Password" required>
      <p> <a href="forget.html">Did you forget your passport?</a></p>
      <button type="submit">Login</button>
    </form>
    <p>Don't have an account? <a href="signup">Sign up</a></p>
  </div>
</div>

</body>
</html>
